<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="home-banner">
  <h1>Ultimate Cocktail King</h1>
</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      # <%=  %>
    </div>
  </div>
</div> -->

<div class="container padding-1">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-4 card">
      <%= image_tag c.img %>
      <p style="text-align: center; margin-top: 2%"><%=link_to c.name, cocktail_path(c) %></p>
    </div>
      <% end %>
  </div>
</div>
    <p style="text-align: center; margin-top: 2%"><%= link_to "Create a New Cocktail", new_cocktail_path, class: "btn btn-primary" %></p>
