
<h1 style="text-align: center;"><%= @cocktail.name %></h1>
<div class="container">
<div class="d-flex justify-content-center">

  <%= image_tag @cocktail.img %>
</div>
</div>
<h3 style="text-align: center; margin-top: 2%">Doses and ingredients</h3>
  <% @cocktail.doses.each do |dose| %>
  <div class="container">
    <div class="d-flex justify-content-center">
      <li style="text-align: center; margin-top: 2%;"><%= dose['description'] %> cl of <%= dose.ingredient['name'] %>      <%= link_to icon('fas','trash-alt'), dose_path("#{dose.id}"), method: :delete, data: {confirm: "Sure ?"} %></li>

    </div>
  </div>
      <% end %>

<p style="text-align: center; margin-top: 2%;"><%= link_to 'Adding More Ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>
<p style="text-align: center; margin-top: 2%;"><%= link_to 'Go Back', cocktails_path, class: "btn btn-primary" %></p>
